* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Museo 500';
  src: local('Museo 500 Regular'), local('Museo500-Regular'),
    url('../fonts/Museo500-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Museo 700';
  src: local('Museo 700 Regular'), local('Museo700-Regular'),
    url('Museo700-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.header {
  padding: 22px 0px;
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}

.logo {
  color: #202020;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation-link {
  font-size: 14px;
  font-weight: 400;
  color: #202020;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 11px;
}

.login {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

/* hero-section */

.hero-container {
  padding: 130px 0px 70px; 
  display: flex;
  max-width: 1140px;
  align-items: center;
  margin: auto;
}

.hero-description {
  margin-left: 121px;
}

.img-wrap {
  position: relative;
}

.book-sale {
  width: 100px;
  height: 35px;
  margin: auto;
  padding: 10px 5px;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: red;
  color: #ffffff;
}

.author-name {
  font-size: 24px;
  font-weight: 400;
  color: #202020;
}

.book-name{
  font-weight: 700;
  color: #202020;
  font-size: 54px;
  margin: 22px 0px 15px 0px;
  font-family: 'Museo 500';
}

.book-description {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #202020;
  line-height: 29px;
  margin-bottom: 48px;
}

.hero-services {
  width: 421px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.services:nth-child(1) {
  margin-right: 59px;
  margin-bottom: 16px;
}

.services:nth-child(3) {
  margin-right: 43px;
}

.services {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #202020;
  
}

.hero-price {
  display: flex;
  margin-bottom: 48px;
}

.pricetag {
  font-weight: 400;
  color: #202020;
  font-size: 55px;
}

.hero-add {
  margin: auto;
  align-items: center;
}

.like {
  width: 26px;
  height: 23px;
}

.add {
  text-decoration: none;
  color: inherit;
}

.read {
  background-color: #f89c02;
  height: 60px;
  width: 250px;
  border-radius: 5px;
  color: white;
  border: #f89c02;
  margin: auto;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
}

.buy {
  background-color: white;
  height: 60px;
  width: 250px;
  border-radius: 5px;
  color: #f89c02;
  border: 1px solid #f89c02;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
}

.about {
  background-color: #f1f1f1;
  padding: 96px 0px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  align-items: flex-start;
}

.about-book {
  max-width: 454px;
  flex-shrink: 0;
  margin-right: 130px;
}

.about-title {
  font-size: 32px;
  font-weight: 700;
  color: #202020;
  margin: auto;
  margin-bottom: 35px;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  margin: auto;
}

.about-author {
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  background-color: #ffffff;
  padding: 68px 117px 86px 53px;
}

.author-wrapper {
  display: flex;
  margin: auto;
  align-items: center;
  margin-bottom: 27px;
}

.author-link {
  text-decoration: none;
  color: #202020;
}

.author-avatar {
  margin-right: 21px;
}

.author-name {
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  color: #202020;
  margin-bottom: 14px;
}

.author-text {
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.readers-container {
  padding: 87px 0px 109px 0px;
  max-width: 1140px;
  margin: auto;
}

.readers-title {
  margin: auto;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 57px;
}

.readers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reader:nth-child(1) {
  margin-bottom: 30px;
}

.footer {
  background-color: #f1f1f1;
  margin: auto;
}

.footer-container {
  display: flex;
  max-width: 1140px;
  padding: 60px 0px 90px;
  margin: auto;
  justify-content: space-between;
}

.requsites {
  max-width: 223px;
}

.requsites-title {
  font-size: 18px;
  font-weight: 700;
}

.requsites-text {
  font-size: 16px;
  font-weight: 400;
}

.info-title {
  font-size: 18px;
  font-weight: 700;
}

.info-text {
  font-size: 16px;
  font-weight: 400;
}

.contacts-title {
  font-size: 18px;
  font-weight: 700;
}

.contacts-text {
  font-size: 16px;
  font-weight: 400;
}

.to-begin {
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin: auto;
  padding: 18px;
}